{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "babel-plugin-add-module-exports",
    "@babel/external-helpers",
    ["@babel/plugin-proposal-optional-chaining", { "loose": false }]
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul"]
      ]
    }
  }
}